<%- include('header') -%>
<div class="container">
<h1>Search Results</h1>
<p > No Movie Found, try again! 
	
<a href="/" type="button" class="btn btn-primary search-again">search again</a>
	</p>
</div>
<%- include('footer') -%>